@import './css/taskStyle.css';

:root {
    --dark-color: #181a1b;
}

html {
    background-color: var(--dark-color);
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

button {
    border: none;
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
    font-size: 100%;
    border-radius: 5px;
}

#container {
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 80%;
    height: 80%;
}

#add-task-button {
    background-color: white;
    color: var(--dark-color);
    font-size: 150%;    
}

h1 {
    margin: 0;
}

#tasks {
    border: white 3px solid;
    width: 100%;
    height: 100%;
}